man/* linguist-vendored
*.md linguist-vendored
LICENSE linguist-vendored
*.html linguist-vendored
*.txt linguist-vendored
*.rda linguist-vendored


* text=auto
data/* binary
src/* text=lf
R/* text=lf

/NEWS.md merge=union
